<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test Suite">
    <test name="Selenium Tests">
        <classes>
            <class name="com.example.sCoreBosniaTest"/>
            <class name="com.example.sCoreMontenegroTest"/>
            <class name="com.example.sCoreSerbiaTest"/>
            <class name="com.example.sCoreSmokeTest"/>
            <class name="com.example.sCoreCroatiaTest"/>
            <class name="com.example.POSBankTest"/>
        </classes>
    </test>
</suite>
